################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UbiGame_Blank/.vs/UbiGame/v16
