################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UbiGame_Blank/.vs/UbiGame/v16
/UbiGame_Blank/bin/x64/Debug
/UbiGame_Blank/tmp/x64/Debug
